/* styling for timed quiz! */

header {
    background-color: teal;
    display: flex;
    align-items: center;
    border: solid black 1px;
}

header .high-scores {
    color: black;
    width: 50%;
    padding: 20px;
}

header .timer {
    float: right;
    width: 50%;
}

section .quiz-content {
    display: flex;
    justify-content: space-around;
}

section .start-btn {
    background-color: teal;
}

.questions {
    display: inline-block;
    justify-content: space-around;
}

.answer-choice {
    background-color: teal;
    color: black;
    border: black solid 1px;
    padding: 10px;
}

.answer-choice:hover {
    background-color: yellow;
}